<ul> 
  <% @feeds.each do |feed| %>
    <a href="<%= feed.url %>">
      <li>
        <%= feed.title %>
        <%= link_to image_tag("window-close-symbolic.svg", class: "remove-button"),
                              feed_path(feed),
                              method: :delete,
                              data: { confirm: 'Are you sure?' } %>
      </li>
    </a>
  <% end %>
</ul>
