$bg_color: #fafafa;
$default_font: "Lato", "Open Sans", "Helvetica", sans-serif;
$default_padding: 6px;
$link_color: #383838;

body
{
  font: 14px $default_font;
  background-color: $bg_color;
}

a, a:visited
{
  color: $link_color;
  text-decoration: none;
}

ul
{
  list-style: none;

  li {padding: $default_padding;}
  li:hover {background-color: darken($bg_color, 8%);}
}

/* classes */
.remove-button {vertical-align: middle;}
